/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/

#testoAlternato{
    padding: 1rem;
    width: 20%;
    margin: 300px auto;
    border: 1px solid #666666;
}

.parole{
    color: #6a889c;
    position: relative;
}

.parole i{
    position: absolute;
    left: 10px;
    top: 0;
    width: 100px;
    opacity: 0;
    animation-timing-function: ease;
}

.parole i:nth-of-type(1)
{  
    animation:  rollDown 10s forwards infinite;
}
.parole i:nth-of-type(2)
{
    animation:  rollDown2 10s forwards infinite;
}
.parole i:nth-of-type(3)
{
    animation:  rollDown3 10s forwards infinite;
}

@keyframes rollDown {
	0%{
		top: -20px;
        opacity: 0;
	}
	11%{
		top: 0;
		opacity: 1;
	}
	22%{
		top: 0;
		opacity: 1;
	}
	33%{
		top: 20px;
		opacity: 0;
	}
}

@keyframes rollDown2 {
	33%{
		top: -20px;
        opacity: 0;
	}
	44%{
		top: 0;
		opacity: 1;
	}
	55%{
		top: 0;
		opacity: 1;
	}
	66%{
		top: 20px;
		opacity: 0;
	}
}

@keyframes rollDown3 {
	66%{
		top: -20px;
        opacity: 0;
	}
	77%{
		top: 0;
		opacity: 1;
	}
	88%{
		top: 0;
		opacity: 1;
	}
	99%{
		top: 20px;
		opacity: 0;
	}
}




