.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 275px;
    width: 800px;
    margin: 145px auto;
    background-color: #666666;
    padding: 3rem;
    font-family: cursive;
}
.postit{
    position: relative;
    height: 125px;
    width: 150px;
    box-shadow: 5px 5px 11px 1px rgba(0,0,0,0.43);
}

.postit h3{
    text-transform: capitalize;
    position: absolute;
    font-weight: bold;
    font-size: 1.5rem;
    top: 35%;
    left: 15%;
}

.postit p{
    position: absolute;
    top: 56%;
    left: 12%;
}

/* Primo, quinto, settimo post-it */

.postit:nth-of-type(1), .postit:nth-of-type(5), .postit:nth-of-type(7){
    background: linear-gradient(180deg, #fdfdcb 10%, #F1F2BD 50%, #C7C7A7 100%);
    transform: rotate(-3deg);
}

/* secondo, quarto, ottavo post-it */

.postit:nth-of-type(2), .postit:nth-of-type(4), .postit:nth-of-type(8){
    background: linear-gradient(180deg, #cafccb 10%, #c2edc3 50%, #a7c0a7 100%);
    transform: rotate(3deg);
}

/* terzo e sesto post-it */

.postit:nth-of-type(3), .postit:nth-of-type(6){
    background: linear-gradient(180deg, #cacafa 10%, #bab8da 50%, #9191a3 100%);
    transform: rotate(-5deg);
}

.postit:hover{
    height: 135px;
    width: 160px;
    transform: rotate(0);
}